/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  color: #333;
  background-color: #f8f8f8;
  line-height: 1.6;
}

header {
  /* background-image: url(../images/more/bg.jpg); */
  background: linear-gradient(rgba(60, 42, 33, 0.5), rgba(60, 42, 33, 0.5));
  color: white;
  padding: 1rem; 
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
}

nav .logo {
  margin-left: 2.5rem;
}
nav .logo img {
  width: 120px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 3rem;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  transition: color 0.3s ease-in-out;
}

.nav-links a:hover {
  color: #d6a07a;
}

.icons {
  position: relative;
  font-size: 1.5rem;
  padding-right: 3rem;
  /* color: white; */
  /* right: 5; */
}

.icons i {
  color: white;
}

.cart-btn {
  cursor: pointer;
}

.cart-btn #cart-count {
  display :block;
  width: 25px;
  height: 25px;
  background-color: orange;
  border-radius: 50%;
  font-size: 12px;


  position: absolute;
  left: 25px;
  top: -20px;

  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  padding: 3rem 1.5rem;
}

h2 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2.5rem;
  color: #3c2a21;
}

p {
  margin-bottom: 1.5rem;
}

/* footer */

footer {
  text-align: center;
  background-color: #4b3429;
  color: white;
  height: 300px;
}

footer .footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer::after {
  background: url(../images/more/overlay-top.png) repeat;
  position: absolute;
  content: "";
  width: 100%;
  height: 15px;
  left: 0;
  z-index: 1;
  margin-top: -349px;

  overflow: hidden;
}

.footer {
  height: 21rem;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
  box-sizing: border-box;
}

.footer-column {
  flex: 1;
  min-width: 200px;
  padding-top: 20px;
  margin-top: 20px;
}

.footer-column h4 {
  /* margin: 20px;  */
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #d6a07a;
}

.footer-column p,.footer-column a{
  font-size: 1rem;
  margin-bottom: 0.2rem;
  color: #f2f2f2;
}

.footer-column .col{
  display: block;
  color: #fff;
  text-decoration: none;
  margin-bottom: 15px;
  font-size: 14.5px;

  transition: color 0.5s ease-in;
}


.footer-column .col:hover{
    color: orange;
}


.footer-column p i {
  margin-right: 0.5rem;
}

.footer-column .social-icons a {
  color: #f2f2f2;
  font-size: 1.2rem;
  margin-right: 0.5rem;
  transition: color 0.5s ease-in;
}

.footer-column .social-icons a:hover {
  color: orange;
}

.instagram{
  width: 200px;
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 0.5fr;
}

.instagram img{
  width: 70px;
  height: 60px;
  margin: 3px 5px;
  
  cursor: pointer;
}


.footer-bottom {
  /* background-color: #4b3429; */
  text-align: center;
  margin-top: 2rem;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding-top: 1rem;
}

.footer-bottom p {
  font-size: 0.9rem;
}

.footer-bottom a {
  color: #d6a07a;
  text-decoration: none;
}

.footer-bottom a:hover {
  text-decoration: underline;
}


